@font-face {
    font-family: "Emblema One";
    src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf"),
         url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff");
}

body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: medium;
}

h1 {
    font-family: "Emblema One", FZYaoti, Cursive;
    font-size: 220%;
}

h2 {
    font-size: 1.3em;
    font-weight: normal;
}

h1, h2 {
    color: #cc6600;
    border-bottom: thin dotted #888888;
}

blockquote {
    font-style: italic;
    text-decoration: line-through;
}

table {
    margin-left: 20px;
    margin-right: 20px;
    border: thin solid black;
    border-collapse: collapse;
    caption-side: bottom;
}

td, th {
    border: thin dotted gray;
    padding: 5px;
}

caption {
    font-style: italic;
    padding-top: 8px;
}

td.date, td.temperature, td.rating {
    text-align: center;
}

td.altitude, td.population {
    text-align: right;
}

th {
    background-color: #cc6600;
}

/*
tr:nth-child(odd) {
    background-color: #fcba7a;
}*/

.cellcolor {
    background-color: #fcba7a;
}

table table th {
    background-color: white;
}

li {
    list-style-image: url(images/backpack.gif);
    padding-top: 5px;
    margin-left: 20px;
}
